[Unit]
Description=Check for a new MATHVS Release every two minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=2min
RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
